{% extends "layout.html" %}
{% block body_content %}

	 <h1>List Of Games</h1>
        	{% if games %}
                	{% for game in games %}

                        	<div>
					<table style="width:100%">
						<tr>
							<th>Name</th>
							<th>Genre</th>
							<th>Price<th>
							<th>Company</th>
							<th>Main Platform</th>
							<th>Buyer</h>
						</tr>
						<tr>
							<td>{{ game.game_name }}</td>
							<td>{{ game.genre_id }}</td>
							<td>{{ game.price }}</td>
							<td>{{ game.company }}</td>
							<td>{{ game.main_platform }}</td>
							<td>{{ game.buyer_id }}</td>
						</tr>
					</table>  
                        	</div>
        	{% else %}
                	<p>There are no games</P>
	<div class='form' action=''>
		<form method='POST' action=''>
			{{ form.hidden_tag }}
			{{ form.game_name.label }}
			{{ form.game_name }}
			<br>
			{{ form.genre_id.label }}
			{{ form.genre_id }}
			<br>
			{{ form.price.label }}
			{{ form.price }}
			<br>
			{{ form.company.label }}
			{{ form.company }}
			<br>
			{{ form.main_platform.label }}
			{{ form.main_platfrom }}
			<br>
			{{ form.buyer_id.label }}
			{{ form.buyer_id }}
			<br>
			{{ form.submit }}
		</form>
	</div>			
{% endblock %}

